<% layout('layouts/boilerPlate') %>
<%- include('../partials/navbar') %>
<%- include('../partials/flash') %>

    <!-- layout mai boilerplate dediya -->
    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;" class="col-lg-6 mt-3">
        <div class="card mx-auto mt-3 shadow" style="width: 18rem;">
          <img src="<%=oneProduct.img%>" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">
              <%=oneProduct.name%>
            </h2>
            <h5 class="card-title">
              <%=oneProduct.price%>
            </h5>
            <p class="card-text">
              <%=oneProduct.desc%>
            </p>
            
            <a href="/products" class="btn btn-light">Home</a>
            <% if(currentUser && currentUser.role==='seller'){ %>
              <a href="/products/<%=oneProduct._id%>/edit" class="btn btn-info">Edit</a>
            <%}%>
            <form action="/user/<%=oneProduct._id%>/add" class="d-inline-block"  method="post">
              <button class="btn btn-sm btn-secondary">Add to Cart</button>
            </form>
            <a href="#" class="btn btn-primary">Buyproduct</a>


          </div>
        </div>

        <div class="col-lg-5">
            <h1 class="display-5">leave a reviews</h1>
            <form action="/products/<%=oneProduct._id%>/reviews" method="post">
              <div class="mb-3">
                <!-- fieldset mai name change kardena according to database -->
                <fieldset class="starability-basic">
                  <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                  <input type="radio" id="first-rate1" name="rating" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="rating" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="rating" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="rating" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="rating" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
              </div>

              <div>
                <label class="form-label" for="cmt">Comment: </label>
                <textarea class="form-control" name="comment" id="cmt" placeholder="Add comment"></textarea>
              </div>

              <button class="btn btn-sm btn-success">Add Review</button>
            </form>

            <div class="my-3">
              <%for(let review of oneProduct.reviews){%>
                <div class="card mt-3">
                  <p>
                    <%if(review.createdAt){%>
                      <%=review.createdAt.toDateString()%>
                    <%}%>
                  </p>
                  <p class="starability-result" data-rating="3">
                    Rated: <%=review.rating%> 
                  </p>
                  <div class="card-body">
                    <p class="card-text"><%=review.comment%></p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
                </div>
              <%}%>
            </div>
        </div>

        
        

    </div>